{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/style.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <h2>Dashboard</h2>
                <ul>
                    <li><a href="{% url 'count_people' %}">Count People</a></li>
                </ul>
            </div>
            <div class="col-md-10 main">
                <h1>Count People</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="image">Upload Image:</label>
                        <input type="file" class="form-control-file" name="image" id="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% if count %}
                <p>Number of people in the image: {{ count }}</p>
                {% endif %} {% if image_url %}
                <img src="{{ image_url }}" alt="Uploaded image"> {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>